<!-- NAV-BAR -->
<nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-dark text-white fixed-top">
    <div class="container">
      <a href="" class="navbar-brand">
        <!-- Logo or Text here -->
        <h3><strong><span class="text-danger">Code</span><span class="text-success">rs</span> <span class="text-warning"> Quote</span><span class="text-success">s</span></strong></h3>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="main_nav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a href="#" class="nav-link">HOME</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">QUOTES</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">ADD QUOTES</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>

  <!-- ********** MAIN CODING START********** -->
  <!-- <div class="container">
    <div class="row">
        <div class="col mt-5">
          <section *ngFor="let quotes of quotes; let i=index">
            <div class="card mb-5">
              <div class="card-header">
                <h3>
                  {{ quotes.content }}<button class="btn btn-outline-info m-1 btn-sm" id="see-more" (click)='toggleDetails(i)'>See More</button>
                </h3>
              </div>
              <div class="card-body">
                <blockquote class="blockquote mb-0">
                  <p>Posted on: <strong>{{quotes.myDate|date}}</strong></p>
                  <footer class="blockquote-footer">
                    <app-quote-details (isComplete)='completeQuote($event, i)' *ngIf='quotes.showQuotes' [quotes]='quotes'>
                    </app-quote-details>
                  </footer>
                </blockquote>
              </div>
            </div>
          </section>
        </div> -->
        <!-- <div class="col mt-5 rounded">
          <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
        </div>
    </div>
  </div> -->

<!-- ********** MAIN CODING END ********** -->

<!-- <br>
<br> -->


<!-- FOOTER AREA -->
<!-- <footer class="text-white bg-dark pt-5 pb-2">
    <div class="container">
        <div class="row"> -->
            <!-- <div class="col">
                <div>
                  <h3><strong><span class="text-danger">Code</span><span class="text-success">rs</span> <span class="text-warning">Quote</span><span class="text-success">s</span></strong></h3>
                    <p><em>The only site with <strong>Quotes</strong> that make</em></p>
                    <p><em>coding a big fun!!!</em></p>
                </div>

                <div> -->
                  <!-- Web Statistics Here -->
                  <!-- <a href='http://www.freevisitorcounters.com'>freevisitorcounterss Homepage</a> <script type='text/javascript' src='https://www.freevisitorcounters.com/auth.php?id=8e104b33ef7ebce4385f04bfcaed18b5942eab98'></script>
                  <script type="text/javascript" src="https://www.freevisitorcounters.com/en/home/counter/859032/t/0"></script> -->
                <!-- </div>
            </div> -->

            <!-- Links To Different Parts & Pages -->
            <!-- <div class="col">
                <div class="">
                    <h3>Useful Links:</h3>
                </div>
                <div class="col" id="footer-links">
                    <p class=""><a href="index.html"><strong>Home</strong></a></p>
                    <p><a href="###"><strong>Quotes</strong></a></p>
                    <p><a href="###"><strong>Add Quotes</strong></a></p>
                    <p><a href="https://streetgm.gumroad.com/" target="_blank"><i class="fas fa-shopping-cart"></i> <strong>Shop</strong></a></p>                                             
                </div>
            </div> -->

            <!-- Social Media Linked -->
            <!-- <div class="col">             
                <div class="">
                    <h3>Social Media:</h3>
                </div>
                <div class="row">
                    <div class="col" id="footer-links">
                        <p><a href="https://www.facebook.com/streetgrandmaster" target="_blank"><span id="socialMedia"><i class="fab fa-facebook-square"></i></span> <strong>Facebook</strong></a></p>
                        <p><a href="https://www.instagram.com/streetgrandmaster" target="_blank"><span id="socialMedia"><i class="fab fa-instagram-square"></i></span> <strong>Instagram</strong></a></p>
                        <p><a href="https://www.twitter.com/LawiGrandmaster" target="_blank"><i class="fab fa-twitter-square"></i> <strong>Twitter</strong></a></p>
                        <p><a href="https://www.linkedin.com/in/streetgrandmaster" target="_blank"><i class="fab fa-linkedin"></i> <strong>LinkedIn</strong></a></p>
                    </div>
                    <div class="col" id="footer-links">
                        <p><a href="https://www.quora.com/profile/Lawi-Otieno" target="_blank"><i class="fab fa-quora"></i> <strong>Quora</strong></a></p>
                        <p><a href="https://www.pinterest.com/streetgrandmaster" target="_blank"><i class="fab fa-pinterest-square"></i> <strong>Pinterest</strong></a></p>
                        <p><a href="https://www.reddit.com/user/streetgm" target="_blank"><i class="fab fa-reddit-square"></i> <strong>Reddit</strong></a></p>
                        <p><a href="https://www.wa.me/254745610178" target="_blank"><i class="fab fa-whatsapp-square"></i> <strong>WhatsApp</strong></a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center pt-5" id="footer-links">
            <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script> <a href="index.html"><strong><span class="text-danger">Code</span><span class="text-success">rs</span> <span class="text-warning">Quote</span><span class="text-success">s</span></strong>.</a> All Rights Reserved</p>
        </div>
    </div>
</footer> -->
