<div class="container-fluid">
    <h2 class="bg-warnig rounded p-2">Post a new Quote</h2>
    <form #quoteForm='ngForm' (ngSubmit)='submitQuote()'>
        <div class="form-group">
            <label for="content">Quote:</label>
            <textarea class="form-control" id="content" cols="" rows="4" [(ngModel)]="newQuote.content" name="content" #content="ngModel" required placeholder="Please write a Quote here"></textarea>
            <div [hidden]="content.valid || content.pristine" class="alert alert-danger">
                <p>Please write a Quote!!!</p>
            </div>

            <!-- Display -->
            <br>
            Display: <span class="bg-info rounded p-1">{{ newQuote.content }}</span>
        </div>
        <div class="form-control">
            <label for="author">Author Name:</label>
            <input type="text" id="author" class="form-control" [(ngModel)]="newQuote.author" name="author" #author='ngModel' required placeholder="Name of Author">

            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Name of Author is required!!!</p>
            </div>
        </div>
        <!-- <div class="form-control">
            <label for="poster">Poster Name:</label>
            <input type="text" id="poster" class="form-control" [(ngModel)]="newQuote.poster" name="poster" #poster='ngModel' required placeholder="Your name here">

            <div [hidden]="poster.valid || poster.pristine" class="alert alert-danger">
                <p>Your Name is required!!!</p>
            </div>
        </div> -->
        <!-- <div class="form-control">
            <label for="complete">Date Posted:</label>
            <input type="date" id="complete" [(ngModel)]="newQuote.myDate" name="myDate" #myDate="ngModel" required>
            <div [hidden]="myDate.valid || myDate.pristine" class="alert alert-danger">
                <p>Date of posting is required !!!</p>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-outline-success">Post Quote</button> -->
    </form>
</div>
